.container {
    
    background-color: white;
    border-radius: 30px;
}

.brand__logo{
    border-radius: 100%;
    
}



.gh-logo{
    width: 10%;
    height: 10%;
}

.navbar-custom{
    background: #272643;
}


@media (min-width: 1200px){

}